{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="vh-100 {{ background }} text-center d-flex flex-column justify-content-center">
		<p class="title text-white fw-bolder">
			{{ title }}
		</p>
		<p class="text-white">
            {{ description }}
		<div>
			<a href={{ path('app_artist_category', { category: category}) }} class="btn btn-custom btn-lg mt-5 rounded-pill">Découvrez les artistes de cette catégory</a>
		</div>
	</div>
{% endblock %}
