/* Variables */
:root {
    --custom-main: #c3906f;
    --custom-secondary: #cc97b7;
    --custom-tertiary:#6a3455 ;
    --custom-forth: #5a91e9;
    --custom-dark: #081c3c;
}

/* ReCustom from bootstrap */
.btn-custom {
    background-color: var(--custom-forth);
    color: #fff;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    background: linear-gradient(138deg, rgba(195,144,111,1) 0%, rgba(204, 151, 183,1) 50%, rgba(90,145,233,1) 100%);
    color: #fff;
}

.btn-custom-view {
    border-color: var(--custom-main);
    color: var(--custom-main);
}

.btn-custom-view:hover,
.btn-custom:focus,
.btn-custom:active {
    background-color: var(--custom-main);
    color: #fff;
}
.btn-custom-edit {
    border-color: var(--custom-secondary);
    color: var(--custom-secondary);
}

.btn-custom-edit:hover,
.btn-custom:focus,
.btn-custom:active {
    background-color: var(--custom-secondary);
    color: #fff;
}

.btn-custom-suppr {
    border-color: var(--custom-tertiary);
    color: var(--custom-tertiary);
}

.btn-custom-suppr:hover,
.btn-custom:focus,
.btn-custom:active {
    background-color: var(--custom-tertiary);
    color: #fff;
}

.btn-custom-dark {
    background-color: var(--custom-dark);
    color: #fff;
}

.btn-custom-dark:hover,
.btn-custom:focus,
.btn-custom:active {
    background: linear-gradient(138deg, rgba(195,144,111,1) 0%, rgba(204, 151, 183,1) 50%, rgba(90,145,233,1) 100%);
    color: #fff;
}

.category-custom-title:hover{
    background: linear-gradient(138deg, rgba(195,144,111,1) 0%, rgba(204, 151, 183,1) 50%, rgba(90,145,233,1) 100%);    color: #fff;
}
.tag-custom-title:hover{
    background: linear-gradient(138deg, rgba(195,144,111,1) 0%, rgba(204, 151, 183,1) 50%, rgba(90,145,233,1) 100%);    color: #fff;
}

.text-custom-tertiary {
    color: var(--custom-tertiary) !important;
}

.bg-dark {
    background-color: var(--custom-dark) !important;
}

.text-main {
    color: var(--custom-main) !important;
}

.link-secondary {
    color: var(--custom-forth) !important;
    font-style: italic;
}
/* Titles & Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Plus Jakarta sans', sans-serif;
    font-weight: 900;
}

body {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
}

/* Category landing page */
.chanteur {
    background-image: url('/images/background/background-chant.webp');
}

.musicien {
    background-image: url('/images/background/background-groupe.webp');
}

.groupe {
    background-image: url('/images/background/background-groupe2.webp');
}

.chanteur,
.musician,
.groupe {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Title & Subtitle */
.title {
    font-family: 'Plus Jakarta sans', sans-serif;
    font-size: 8vw;
    line-height: 1;
    font-weight: 900;
}

/* Footer */
footer {
    position: fixed;
    bottom: 2rem;
}

/* Room Card */
.img-overlay {
    background-color: rgba(25, 25, 25, .4);
}

.card-host-info img {
    width: 32px;
}

/* Pagination */
.pagination {
    --bs-pagination-border-width: 0;
}

.active>.page-link,
.page-link.active {
    background-color: var(--custom-forth);
}

/* Account page */
.bnb-height {
    max-height: 400px;

}

/* RESPONSIVE */

@media screen and (max-width : 576px) {
    
    .card-custom{
        flex-direction: column;
        overflow-y: scroll;
        margin-bottom: 3rem;
    }
}

