{% extends 'base.html.twig' %}

{% block title %}Donnez votre avis {% endblock %}

{% block body %}
<main class="p-5 mb-4 border-bottom border-2">
    <div class="container">
        <div class="row text-center py-5">
            <h1>Mes avis</h1>
        </div>
        <div class="d-flex gap-3 overflow-x-scroll justify-content-center">
            {% if app.user.reviews is defined and app.user.reviews|length > 0 %}
                {% for review in app.user.reviews %}
                    <div class="col-md-4 col-sm-12">
                        <div class="card shadow-none text-center h-100">
                            <div class="card-body p-2">
                                <h1 class="fs-3">
                                    {{ review.title }}
                                </h1>
                                <p class="fs-3">
                                    {{ review.comment }}
                                </p>
                                <div class="rating">
                                    {% for i in 1..review.rating %}
                                        <i class="bi bi-star-fill text-custom-tertiary"></i>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="card-footer p-2 border-0">
                                <a class="text-decoration-none" href="{{ path('app_artist_show', { 'id': review.artist.id }) }}">
                                    <button class="btn btn-sm btn-custom-view rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top">
                                        <i class="bi bi-eye"></i>
                                        Voir
                                    </button>
                                </a>
                                <a class="" href="{{ path('remove_review', { 'review': review.id }) }}">
                                    <button class="btn btn-sm btn-custom-suppr rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top">
                                        <i class="bi bi-trash"></i>
                                        supprimer
                                    </button>
                                </a>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class=" justify-item-center">
                <p >Vous n'avez pas déposé d'avis.</p>
            </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
