{% extends 'base.html.twig' %}

{% block title %}Nouvel avis{% endblock %}

{% block body %}
<div class="container p-5 mb-5 ">
    <div>
        <h1 class="text-center">Déposez un nouvel avis</h1>
            {{ include('review/_form.html.twig') }}
    </div>
</div>
{% endblock %}