{% extends 'base.html.twig' %}

{% block title %}Modifier le profil artiste{% endblock %}

{% block body %}
    <div class="container p-5 mb-5">
        <div>
            <h1 class="text-center">Modifier le profil artiste</h1>
        <!--Inclure le formulaire de modification-->
            {{ include('artist/_form.html.twig', {'button_label': 'Modifiez'}) }}
            <div class="text-center ">
                {{ include('artist/_delete.html.twig') }}

            </div>
        </div>
    </div>
    {% endblock %}
