{% extends 'base.html.twig' %}

{% block title %}Nouvel artiste{% endblock %}

{% block body %}
<main class="container p-3 ">
    <div class="">
        <h1 class=" text-center">Créer un nouvel artiste</h1>

    {{ include('artist/_form.html.twig') }}

    </div>
</main>

{% endblock %}
