<footer class="bg-dark shadow text-white text-wrap fixed-bottom d-flex flex-column flex-md-row justify-content-between py-3 px-4 w-100">
                <p class="flex-md-fill">Hérold Pommier &copy; {{ 'now'|date('Y') }}</p>
                <a class="nav-link flex-md-fill" href="#" target="_blank">politiques de confidentialité</a>
                <ul class="nav">
                    <li class="nav-item flex-md-fill bi bi-tiktok"><a class="nav-link" href="https://www.tiktok.com" target="_blank"></a></li>
                    <li class="nav-item flex-md-fill bi bi-facebook"><a class="nav-link" href="https://www.facebook.com" target="_blank" alt="logo facebook"></a></li>
                    <li class="nav-item flex-md-fill bi bi-instagram"><a class="nav-link" href="https://www.instagram.com" target="_blank" alt="logo instagram"></a></li>
                    <li class="nav-item flex-md-fill bi bi-twitter-x"><a class="nav-link" href="https://x.com" target="_blank" alt="logo X"></a></li>
                </ul>
</footer>
