<footer class="bg-dark shadow text-white text-wrap fixed-bottom d-flex flex-column flex-md-row justify-content-between py-3 px-4 w-100">
                <p class="flex-md-fill">Hérold Pommier &copy; {{ 'now'|date('Y') }}</p>
                <a class="nav-link flex-md-fill" href="#" target="_blank">politiques de confidentialité</a>
                <nav class="nav d-flex gap-3">
                    <a class="nav-item bi bi-tiktok text-white " href="https://www.tiktok.com" target="_blank"></a></li>
                    <a class="nav-item bi bi-facebook text-white" href="https://www.facebook.com" target="_blank" alt="logo facebook"></a></li>
                    <a class="nav-item bi bi-instagram text-white" href="https://www.instagram.com" target="_blank" alt="logo instagram"></a></li>
                    <a class="nav-item bi bi-twitter-x text-white" href="https://x.com" target="_blank" alt="logo X"></a></li>
                </nav>
</footer>